/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #000;
	background: url(../images/pattern.png) repeat;
	font-weight: 200;
	font-size: 20;
	max-width: 100%;
    overflow-x: hidden;
}

@media(min-width:992px) {
    body {
		font-size: 16;
	}
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
	font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

@media(max-width:992px) {
    h1,h2 {
		font-size: 64;
	}
	
	h3 {
		font-size: 48;
	}
}

h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
	font-weight: 200;
    line-height: 1.2em;
}

p {
    margin: 0 0 25px;
    font-size: 24px;
    line-height: 1.4em;
}

@media(min-width:992px) {
    p {
        margin: 0 0 35px;
        font-size: 16px;
        line-height: 1.6em;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5 ease,padding .5s ease;
        -moz-transition: background .5s ease,padding .5s ease;
        transition: background .5s ease,padding .5s ease;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.outro {

    height: 100%;
   
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
	background: url(../images/background.jpg) no-repeat scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle  .fa {
	line-height: 16vw;
	font-size: 8vw;
}

.btn-circle .caption {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
	font-size: 3vw;
}

.btn-circle, .blueimp-gallery>.next, .blueimp-gallery>.prev {
	display: inline-block;
    width: 16vw;
    height: 16vw;
    margin-top: 15px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
}

@media(min-width:992px) {
	.btn-circle  .fa {
		line-height: 8vw;
		font-size: 4vw;
	}
	
	.btn-circle .caption { 
		font-size: 1vw;
	}
	
	.btn-circle, .blueimp-gallery>.next, .blueimp-gallery>.prev {
		width: 8vw;
		height: 8vw;
	}
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.content-section {
    padding-top: 100px;
	padding-bottom: 100px;

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

@media(max-width:1024px) {

	.content-section {
        padding-bottom: 50%;
		padding-top: 25%;
    }
	
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

.img-circle {
	border-style: none;

	display: block;
    margin-left: auto;
    margin-right: auto;
	/* div height to be the same as width*/
	padding-top:100%;
	
	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	
	background-color: rgb(0,0,0);
	
	/* make it a cirkle */
	border-radius:50%;
	
	/* it makes the clue thing, takes smaller dimention to fill div */
	background-size: cover;
	
	margin-bottom: 10%;
}

.screen-test {
	float:left;
	display:none;
}

@media (min-width:992px) {
	.screen-test {
		float:none;
	}
}

.button-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
	
    border-radius: 50%;
    border-style: none;
	
	position: relative;
    overflow:hidden;
	
	width: 100%;
    padding-bottom: 100%;
    
    background-size: cover;
	background-color: black;
	margin-bottom:10%;	
	
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
	
	transition: 0.5s;
}


.button-circle:hover, .hovered {
filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
	
	transition: 0.5s;
}

.button-circle div {
	margin-top:100%;
	padding-top:5%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.8s;
    overflow:hidden;
}

.button-circle:hover  div, .hovered  div{
	margin-top:70%;
	transition: 0.8s;
}

.description {
	text-align: left;
	white-space: pre-wrap;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-inner {
	min-height: 800px;
	overflow: inherit;
}

.fixed-height {
	margin-bottom: 10%;
}

@media(max-width:992px) {
    .button-section {
		padding-top:50%;
	}
}