<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html ng-app="portfolio">
   <head>
		<title>Karol Antczak - portfolio</title>
		<meta charset="utf-8">
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
		<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
		<script src="/bower_components/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
		<script src="js/grayscale.js"></script>
		<script src="js/jquery.viewport.js"></script>
		<script src="/js/projectController.js"></script>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
		<link rel="stylesheet" href="/bower_components/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/grayscale.css"></link>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya Sans">	
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300' />

   </head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">	

	    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-angle-double-up"></i> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
					<li><a class="page-scroll" href="#whoami">Kim jestem?</a></li>
					<li><a class="page-scroll" href="#gamedev">Gry</a></li>
					<li><a class="page-scroll" href="#science">Nauka</a></li>
					<li><a class="page-scroll" href="#contact">Kontakt</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Karol Antczak</h1>
                        <p class="intro-text">Analityk, badacz sztucznych inteligencji, indie developer, pirat</p>						
                        <a href="#whoami" class="btn-circle page-scroll" >
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	<section id="whoami" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kim jestem?</h2>
				<div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-0">
					<div class="img-circle img-responsive" style="background-image:url('/images/photo.png')"></div>
				</div>
				<div class="col-md-6 col-sm-12 ">
					<p class="description">Nazywam się Karol Antczak.<br><br>Zajmuję się analityką oprogramowania, badaniem sztucznych inteligencji oraz tworzeniem gier indie.<br><br>W przyszłości zamierzam kupić łajbę i zostać piratem pełnomorskim.<br><br>A to jest moje portfolio.</p>   
				</div>
            </div>
        </div>
    </section>
	
	 <!-- Gamedev -->
	<section id="gamedev" class="container content-section text-center" ng-controller="projectsGamedevController">
		<div class="row">
			<div class="col-lg-12">
				<div id="gamedev-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
				  <div class="carousel-inner">
					<div  id="list-col" class="item active" >
						<div class="col-lg-8 col-lg-offset-2">
							<h2>Gry</h2>
						   <div ng-repeat="project in projects | orderBy:'-year'" class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1" data-target="#gamedev-carousel" data-slide-to="{{$index + 1}}" > 
								<div class="button-circle" style="background-image:url('{{project.images[0]}}')">
									<div>			
											<h3>{{project.name}}</h3>
											<p>{{project.year}}</p> 
									</div>
								</div>						
							</div>
						</div>
					</div>
					<div ng-repeat="project in projects | orderBy:'-year'" class="item" >
						<div class="col-lg-8 col-lg-offset-2">
							<h3>{{project.name}}</h3>
							 <div class="col-lg-6" >
									<div ng-repeat="image in project.images" class="col-md-6 col-sm-6" > 
										<a  href="{{image}}" title="{{image}}" class="img-circle img-responsive" style="background-image:url('{{image}}')" data-gallery="#{{project.name}}" >
										</a>					
									</div>
							 </div>
							 <div class="col-lg-6 col-sm-12 " >
								<p class="description" ><b>Data wydania:</b> {{project.year}} <br><b>Platforma: </b> {{project.platform}}<br> <br>{{project.description}}</p>
							 </div>
							 <div class="col-lg-12">
									<a class="btn-circle page-scroll" data-target="#gamedev-carousel" data-slide-to="0">
										<i class="fa fa-angle-double-left"></i>
									</a>
							</div>
						</div>
					</div>
				  </div>
				 
				  <a class="left carousel-control" href="#gamedev-carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#gamedev-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>
			</div>
		</div>
    </section>
	
	<!-- Science -->
	<section id="science" class="container content-section text-center" ng-controller="projectsScienceController">
		<div class="row">
			<div class="col-lg-12">
				<div id="science-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
				  <div class="carousel-inner">
					<div  id="list-col" class="item active" >
						<div class="col-lg-8 col-lg-offset-2">
							<h2>Nauka</h2>
						   <div ng-repeat="project in projects | orderBy:'-year'" class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1" data-target="#science-carousel" data-slide-to="{{$index + 1}}" > 
								<div class="button-circle" style="background-image:url('{{project.images[0]}}')">
									<div>			
											<h3>{{project.name}}</h3>
											<p>{{project.year}}</p> 
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div ng-repeat="project in projects | orderBy:'-year'" class="item" >
						<div class="col-lg-8 col-lg-offset-2">
							<h3>{{project.name}}</h3>
							 <div class="col-lg-6" >
									<div ng-repeat="image in project.images" class="col-md-6 col-sm-6" > 
										<a  href="{{image}}" title="{{image}}" class="img-circle img-responsive" style="background-image:url('{{image}}')" data-gallery="#{{project.name}}" >
										</a>					
									</div>
							 </div>
							 <div class="col-lg-6" >
								<p class="description" ><b>Rok:</b> {{project.year}} <br><br>{{project.description}}</p>
							 </div>
							 <div class="col-lg-12">
									<a class="btn-circle page-scroll" data-target="#science-carousel" data-slide-to="0">
										<i class="fa fa-angle-double-left"></i>
									</a>
							</div>
						</div>
					</div>
				  </div>
				 
				  <a class="left carousel-control" href="#science-carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#science-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>
			</div>
		</div>
    </section>
	
	<footer class="outro container content-section text-center" id="contact">
        <div class="intro-body">
            <div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<h2>Kontakt</h2>
					</div>
				</div>
                <div class="row button-section">
                    <div class="col-sm-3 col-sm-offset-3 fixed-height">	
                        <a id="mail" class="btn-circle" href="mailto:someone@example.com?Subject=Hello%20again" >
                            <i class="fa fa-envelope"></i>
							<div class="caption">Email</div>
                        </a>
						<script>
							for(coded="gwLn8GrwgS@lUwC8.GnU",key="CXtE5GrQAbw7j1SmDd9l2HI6TvLFPxupZ3qUyo48KkiONfeczYVJaBhs0nMWRg",shift=coded.length,link="",i=0;i<coded.length;i++)-1==key.indexOf(coded.charAt(i))?(ltr=coded.charAt(i),link+=ltr):(ltr=(key.indexOf(coded.charAt(i))-shift+key.length)%key.length,link+=key.charAt(ltr));
							document.getElementById("mail").setAttribute("href", "mailto:"+link);
						</script>
                    </div>
					<div class="col-sm-3 fixed-height">				
                        <a id="skype" class="btn-circle" href="skype:karol.antczak2?chat" >
                            <i class="fa fa-skype"></i>
							<div class="caption">Skype</div>
                        </a>
						<script>
							for(coded="FpJw7.pbQrKpFP",key="jk18K4AhiGJPpUTFfN0LYWsI5dCE6eRmvuoZBtxnHXySc9qlwgDQzbOMV3r2a7",shift=coded.length,link="",i=0;i<coded.length;i++)-1==key.indexOf(coded.charAt(i))?(ltr=coded.charAt(i),link+=ltr):(ltr=(key.indexOf(coded.charAt(i))-shift+key.length)%key.length,link+=key.charAt(ltr));document.getElementById("skype").setAttribute("href", "skype:"+link + "?chat");
						</script>
                    </div>
					<div class="col-sm-offset-3 col-sm-3 fixed-height">				
                        <a class="btn-circle" href="https://docs.google.com/document/d/1Rc0b4SpD7JbWUWRIDBq2gxuX2YG4IZgImL6OwijgGXw/edit?usp=sharing">
                            <i class="fa fa-file-text-o"></i>
							<div class="caption">CV (pol)</div>
                        </a>
                    </div>
					<div class="col-sm-3 fixed-height">				
                        <a class="btn-circle" href="https://docs.google.com/document/d/1HqY2fLEJU2zsfcHqAOwQRlFDSvJsa_W7e280LEwiEZ4/edit?usp=sharing" >
                            <i class="fa fa-file-text-o"></i>
							<div class="caption">CV (eng)</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
	<!-- Image gallery -->
	<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
		<div class="slides"></div>
		 <a class="btn-circle prev">
			<i class="fa fa-angle-left"></i>
         </a>
		 <a class="btn-circle next">
			<i class="fa fa-angle-right"></i>
         </a>
		 <a class="close">
			<i class="fa fa-close"></i>
         </a>
		<ol class="indicator"></ol>
	</div>
	<div class="screen-test"/>
	<script>

		
			 $("#gamedev").bind('slide.bs.carousel', function (e) {
				$('html, body').stop().animate({
					scrollTop: $("#gamedev").offset().top
				}, 1500, 'easeInOutExpo');				
			});
			
			$("#science").bind('slide.bs.carousel', function (e) {
				$('html, body').stop().animate({
					scrollTop: $("#science").offset().top
				}, 1500, 'easeInOutExpo');				
			});
					
			$(window).scroll(function () {
				 if ($(".screen-test").css("float") == "left" ){
					$('.button-circle').each(function() {
						$(this).removeClass('hovered');
					});
					$('.button-circle:in-viewport').each(function() {
						$(this).toggleClass('hovered');
						 return false;
					});
				}
			});
		
	</script>

</body>
</html>